<%- title "About" %>
<%- title_label "About" %>
<%- title_headline "Purpose and People" %>

<section class="content-section">
<div class="section-label">underpinning THEORY</div>
<div class="two-column">
  <div class="column-large">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
    <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
  </div>
<div>
<div class="info-card">
<div class="info-card-title">
Keywords
</div>
<ul class="info-list">
<li>Intersectionality</li>
<li>Identity</li>
<li>Critical Data Studies</li>
<li>Human-centered Design</li>
</ul>
</div>
</div>
</div>
</section>
<!-- END THEORY ROW -->
<!-------------------------------------------------->
  
<!-------------------------------------------------->
<!-- START VALUES ROW -->
  <section class="content-section bordered-top">
<div class="section-label">PROJECT VALUES</div>
<div class="two-column">
<div class="column-large">
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</p>
<p>
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</p>
</div>
<div>
<div class="info-card">
<div class="info-card-title">
Keywords
</div>
<ul class="info-list">
<li>Open</li>
<li>Accessible</li>
<li>Community-Driven</li>
<li>HUMAN ANALYSIS not AI something...</li>
</ul>
</div>
</div>
</div>
</section>
<!-- END VALUES ROW -->
<!-------------------------------------------------->

<!-------------------------------------------------->
<!-- START PEOPLE ROW -->
<section class="content-section bordered-top">
<div class="section-label">PEOPLE</div>
<div class="people-grid">

<article class="person-card">
<div class="person-role">DESIGN + RESEARCH</div>
<h2 class="person-name">Dr. Jess Parris Westbrook (they/them)</h2>
<p class="person-bio">
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
</p>
</article>

<article class="person-card">
<div class="person-role">ENGINEERING + OPEN SOURCE</div>
<h2 class="person-name">Coraline Ada Ehmke (she/her)</h2>
<p class="person-bio">
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
</p>
</article>
</div>
</section>
<!-- END PEOPLE ROW -->
