<%- title "Contact" %>
<%- title_label "Contact" %>
<%- title_headline "What's On Your Mind?" %>

<section class="content-section">
  <div class="contact-layout">
    <div class="contact-intro">
      <p class="contact-text">
        text here. do we share an email address or just use the form?
      </p>
    </div>
  </div>
  
</section>
