<%- title "Contribute" %>
<%- title_label "Contribute" %>
<%- title_headline "TMI-WEB Community" %>

<section class="content-section">
  <div class="contribute-grid">

    <article class="contribute-card">
      <div class="contribute-label">RESEARCHERS + USERS</div>
      <h2 class="contribute-title">Sharing research, project outcomes, and use cases.</h2>
      <p class="contribute-text">
        TMI-WEB grows and evolves through research practice, experimentation, teaching, and community engagement. Researchers, educators, students, and practitioners can contribute by sharing projects, describing workflows, reporting issues, suggesting features, and documenting how the platform supports xyz here - intersectional analysis, qualitative inquiry, or computational social research.
      </p>
      <p class="contribute-text">
        More here
      </p>
      <a href="#" class="button secondary">Something</a>
    </article>
    
    <article class="contribute-card">
      <div class="contribute-label">DEVELOPERS + TECHNOLOGISTS</div>
      <h2 class="contribute-title">Building the open source software ecosystem.</h2>
      <p class="contribute-text">
        TMI-WEB is an open-source project that welcomes contributions from developers, engineers, designers, usability/accessibility reviewers somethings..., data visualization practitioners, and computational researchers.
      </p>
      <p class="contribute-text">
        Contributions may include interface, documentation, infrastructure support, accessibility review, data modeling, testing, issue tracking, open source and ethical technology development.
      </p>
      <a href="https://github.com/identity-research-lab/tmi-web-beta" class="button secondary">GitHub Repository</a>
      <%= image_tag "github.svg", alt: "GitHub 'Octocat' logo" %>
    </article>
  </div>

</section>
