<%- title "TMI-WEB" %>

<section class="hero">

  <div class="hero-copy">
  <div class="sm-message">identity and experience are intertwined</div>

  <h1>
  Qualitative Depth.<br>
  Computational Scalability.
  </h1>

  <p class="hero-text">
  Complexity is real. Knowledge is relational. TMI-WEB supports intersectional data analysis. Explore identity, experience, and context together — at scale.
  </p>

  <div class="hero-actions">
  <%= link_to "Project Dashboard", projects_path, class: "button" %>
  </div>
  </div>

  <div class="people" aria-hidden="true">
    <%= image_tag "noun-group-of-people-6692938.svg", alt: "", class: "people-image", aria: { hidden: "true "} %>
  </div>

</section>
