<%- title "Use Case Scenarios" %>
<%- title_label "Use Case Scenarios" %>
<%- title_headline "Research, Data Analysis, and Haptic Visualization" %>

<section class="content-section">

  <div class="use-case-grid">
  
    <article class="use-case-card">
      <%= image_tag "noun-group-of-people-6692938.svg", alt: "", class: "use-case-image", aria: { hidden: "true" } %>
      <div class="use-case-category">
        QUALITATIVE RESEARCH
      </div>
      <h2 class="use-case-title">Thematic analysis</h2>
      <p class="use-case-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
      </p>
    </article>
    
    <article class="use-case-card">
      <div class="use-case-category">
        COMPUTATIONAL SOCIAL SCIENCE
      </div>
      <h2 class="use-case-title">Hybrid qualitative-computational workflows</h2>
      <p class="use-case-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
      </p>
    </article>
    
    <article class="use-case-card">
      <div class="use-case-category">
        INTERSECTIONAL ANALYSIS
      </div>
      <h2 class="use-case-title">Relational identity exploration</h2>
      <p class="use-case-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Maecenas faucibus mollis interdum.
      </p>
    </article>
    
    <article class="use-case-card">
      <div class="use-case-category">
        CREATIVE PRACTICE
      </div>
      <h2 class="use-case-title">Explore Text</h2>
      <p class="use-case-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla.
      </p>
    </article>
    
    <article class="use-case-card">
      <div class="use-case-category">
        DATA VISUALIZATION
      </div>
      <h2 class="use-case-title">Graph relationship mapping</h2>
      <p class="use-case-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur.
      </p>
    </article>
    
    <article class="use-case-card">
      <div class="use-case-category">
        EDUCATION
      </div>
      <h2 class="use-case-title">Teaching qualitative methods</h2>
      <p class="use-case-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis.
      </p>
    </article>
    
  </div>

</section>