<article class="excerpt-card">
  <div class="excerpt-meta">
    <span class="case-subtext"><%= link_to memo.referrent.formatted_identifier, memo.referrent %></span>
  </div>
  <p class="excerpt-text">
    "<%= memo.text %>"
  </p>
</article>
