<article class="excerpt-card">
  <div class="excerpt-meta">
    <% persona = survey_response.persona %>
    <span class="case-subtext"><%= link_to persona.formatted_identifier, persona, target: "_top" %></span>
  </div>
  <p class="excerpt-text search-result">
    "<%= survey_response.value %>"
  </p>
</article>
