<%= turbo_frame_tag id: "frame-survey-responses" do %>
  <td><%= survey_item.csv_header %></td>
  <td>
    <%= form_with model: @project, format: :turbo_stream, data: { turbo_stream: true, turbo_frame: "frame-survey-responses }" } do |f| %>
      <div class="form-group"><%= f.text_field :label, value: survey_item.label %></div>
    <% end %>
  </td>
<% end %>
