<tr>
  <td>
    <span class="survey-item-name"><%= survey_response.persona.formatted_identifier %></span>
    <span class="survey-item-type">Participant case record</span>
  </td>
  <td>
    <p class="verbatim-response"><%= survey_response.value %></p>
  </td>
  <td>
    <div class="codes-editor">
      <div class="code-tags">
        <% survey_response.coded_experiences.each do |code| %>
          <span class="tag"><%= code.name %></span>
        <% end %>
      </div>
      <button class="add-code-link">Edit codes</button>
    </div>
  </td>
</tr>
