<%= turbo_frame_tag "memo-feed" do %>
  <ul class="memo-feed">
    <% if memos.present? %>
      <% memos.each do |existing_memo| %>
        <%= render partial: "memos/show", locals: { memo: existing_memo } %>
      <% end %>
    <% else %>
      <li class="memo-entry">
        <p class="memo-text">
          No recent memos.
        </p>
      </li>
    <% end %>
    <% if memo.present? %>
      <li class="memo-entry">
        <%= render partial: "/memos/form", locals: { memo: memo } %>
      </li>
    <% end %>
  </ul>
<% end %>